{
  log {
    output stdout
  }
}

https://webtop.{$DOMAIN_NAME} {
  basicauth {
    {$CADDY_USER} {$CADDY_PASSWORD}
  }
  reverse_proxy http://webtop:3000
}

https://portainer.{$DOMAIN_NAME} {
  reverse_proxy http://portainer:3000
}
